# Игнорировать все файлы и папки
*

# Отслеживание package.json
#!package.json
!.gitignore

# /--/ MainService.ts
!/src/
#!/src/index.ts
!/src/era/
!/src/era/blacklist/
!/src/era/blacklist/services/
!/src/era/blacklist/services/MainService.ts

# Отслеживать все файлы внутри папки src/era/blacklist/services/
#!/src/era/blacklist/services/**

